// Sponsors
.event-sponsor-list {
  list-style: none;
  margin: 0;
  padding: 2em 0 0 0;
  li {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    vertical-align: middle;
  }
}

.event-partners-list {
  img {
    max-height: 40px;
  }
}

.sponsor {
  height: 40px;
  width: 160px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 20px;
  @include breakpoint(l) {
    margin-bottom: 0;
  }
}

.sponsor-grand-parade img{
  height: 50px;
  width: auto; 
}

.sponsor-dazn img{
  height: 80px;
  width: auto; 
}

.sponsor-codete img{
  height: 80px;
  width: auto; 
}

.sponsor-ig img{
  height: 74px;
  width: auto; 
}

.sponsor-global-logic img {
  height: 36px;
  width: auto;
}

.sponsor-dream-lab img {
  height: 160px;
  width: auto; 
}

.partner-wsei img {
  width: 220px;
  max-height: initial;
}

.partner-lambda-days img {
  width: 180px;
  max-height: initial;
}

.partner-it-krk img {
  width: 300px;
  max-height: initial;
}

